@page "/"
@using InfraSim.Services
@using InfraSim.Pages
@inject UserCounter CounterService

<PageTitle>Home</PageTitle>

<div class="parent-container">
    <div class="control-panel">
        <Users UserCount="@CounterService.Counter" />
        <Actions StartPressed="@StartIncrementing" />
    </div>
    <div class="servers-panel">

    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        CounterService.OnCounterChanged += UpdateCounter;
    }

    private void UpdateCounter()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task StartIncrementing()
    {
        await CounterService.StartIncrementing();
    }

    public void Dispose()
    {
        CounterService.OnCounterChanged -= UpdateCounter;
    }
}
