@page "/"
@using InfraSim.Services
@using InfraSim.Pages
@inject UserCounter CounterService

<PageTitle>Home</PageTitle>

<div class="parent-container">
    <div class="control-panel">
        <Actions StartPressed="@StartIncrementing" AddServer="@AddServer" />
        <Users UserCount="@CounterService.Counter"/>
    </div>
    
    <div class="servers-panel">
        @for (int i = 0; i < ServerCount; i++)
        {
            <Server />
        }
    </div>
</div>

@code {
    private int ServerCount = 0;

    protected override void OnInitialized()
    {
        CounterService.ResetCounter(); // Resetăm counter-ul la fiecare reîncărcare
        CounterService.OnCounterChanged += UpdateCounter;
    }

    private void UpdateCounter()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task StartIncrementing()
    {
        await CounterService.StartIncrementing();
    }

    private void AddServer()
    {
        ServerCount++;
    }

    public void Dispose()
    {
        CounterService.OnCounterChanged -= UpdateCounter;
    }
}
