@page "/"
@using InfraSim.Services
@inject UserCounter CounterService
@using InfraSim.Pages


<PageTitle>Home</PageTitle>

<h3>Counter</h3>
<p>Value: @CounterService.Counter</p>
<button @onclick="StartIncrementing">Increment</button>

<h1>Hello, world!</h1>
Welcome to your new app.


<Actions />

@code {
    protected override void OnInitialized()
    {
        CounterService.OnCounterChanged += UpdateCounter;
    }

    private void UpdateCounter()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task StartIncrementing()
    {
        await CounterService.StartIncrementing();
    }

    public void Dispose()
    {
        CounterService.OnCounterChanged -= UpdateCounter; // Avoid memory leaks
    }
}
