@page "/"
@using InfraSim.Services
@using InfraSim.Pages
@inject UserCounter CounterService

<PageTitle>Home</PageTitle>

<h3>Counter</h3>
<p>Value: @CounterService.Counter</p>

<Actions StartPressed="@StartIncrementing" />

@code {
    protected override void OnInitialized()
    {
        CounterService.OnCounterChanged += UpdateCounter;
    }

    private void UpdateCounter()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task StartIncrementing()
    {
        await CounterService.StartIncrementing();
    }

    public void Dispose()
    {
        CounterService.OnCounterChanged -= UpdateCounter;
    }
}
