@page "/"

@using InfraSim.Pages.Models
@using InfraSim.Pages.Models.UI         
@using InfraSim.Pages.Models.Iterator    
@using InfraSim.Services
@inject IInfrastructureMediator InfrastructureMediator
@inject UserCounter            Counter

<PageTitle>Home</PageTitle>

<div class="parent-container">
    <!-- Control panel -->
    <div class="control-panel">
        <Actions StartPressed="StartIncrementing"
                 AddPressed="AddServer"
                 Refresh="RefreshUI" />
        <Users UserCount="@Counter.Counter" />
        <span>€ @InfrastructureMediator.TotalCost</span>
    </div>

    <!-- Servers grid -->
    <div class="servers-panel">
        @foreach (IServer srv in Servers)
        {
            <Server ServerInfo="@(new ServerInfoAdapter(srv))" />
        }
    </div>
</div>

@code {
    private List<IServer> Servers = new();

    protected override void OnInitialized()
    {
        Counter.OnCounterChanged += CounterChanged;
        RefreshUI();
    }

    private void CounterChanged()
    {
        if (!InfrastructureMediator.IsOK)
        {
            Counter.Cancel();
        }
    InvokeAsync(StateHasChanged);
    }


    public void Dispose()
        => Counter.OnCounterChanged -= CounterChanged;


    private async Task StartIncrementing()
        => await Counter.StartIncrementing();

    private void AddServer(IServer server)
    {
        InfrastructureMediator.AddServer(server);
        RefreshUI();
    }

    private void RefreshUI()
    {
        Servers = new List<IServer>();
        IServerIterator it = InfrastructureMediator.CreateServerIterator();

        while (it.HasNext)
            Servers.Add(it.Next());

        Servers.Sort((a, b) => a.ServerType.CompareTo(b.ServerType));
    }
}
