@using InfraSim.Pages.Models.UI   
@using InfraSim.Pages.Models

@if (ServerInfo is not null)
{
    <div class="div-container">
        <img class="img-size" src="@ServerInfo.ImageUrl" />
        <div>
            <div class="status @ServerInfo.StatusColor">&nbsp;</div>
            <span>@ServerInfo.Name</span>
        </div>
    </div>
}

@code {
    [Parameter] public IServerInfo? ServerInfo { get; set; }
}