@code {
    [Parameter]  
    public int UserCount { get; set; }
}

<div class="div-container">
    <img src="images/users.png" alt="Users" class="user-icon" />
    <span class="user-count">@UserCount</span>
</div>
